/**
 * Created by React Web Creator
 *
 * by e.GO Digital GmbH, Aachen, Germany
 *
 * https://e-go-digital.com
 */

.Page2 {
    font-size: 3rem;
    text-align: center;
}

.page2-link {
    color: #ff0000 !important;
    text-decoration: none;
}

.page2-link:hover {
    text-decoration: underline;
}
