/**
 * Created by React Web Creator
 *
 * by e.GO Digital GmbH, Aachen, Germany
 *
 * https://e-go-digital.com
 */

.NotFoundPage {
    font-size: 3rem;
    text-align: center;
}

.not-found-page-link {
    text-decoration: none;
}

.not-found-page-link:hover {
    text-decoration: underline;
}
